.stack-use {
    background-color: #000000;
    width: 100%; /* Take full width of the overlay */
    height: 95%; 
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1010;
    
  }

  

/* Close button styling */
.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    background-color: transparent;
    color: #0059ff;
    border: none;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
    line-height: 1;
    transition: color 0.2s;
}

.close-btn:hover {
    color: #d32f2f;
}

.stack-use i {
  transition: transform 0.2s ease;
}

.stack-use i:hover {
  transform: scale(1.2);
  cursor: pointer;
}

